<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<form action="" method="post">
<input type="text" name="account" id="account">
<div data-error="account"></div>
<input type="text" name="password" id="password">
<div data-error="password"></div>
<input id="aa" type="button">
</form>
<script src="../static/jquery-3.1.0.min.js" th:src="@{/jquery-3.1.0.min.js}"/></script>
<script>
function addUser(){
    var account=$("#account").val(), password=$("#password").val();
    //console.log(account, password);
    $.ajax({
        url:'http://10.1.65.33:81/login',
        data:{"account":account, "password":password},
        type:'POST',
        dataType:'json',
        success:function(json){
            if(json.code==200){
                console.log('登录成功');
            }else{
                console.log('登录失败')
            }
        }
         
    });
}
$(function() {
	 $(document).on("click","#aa", function() {
	    	addUser();
	});
})
</script>
</body>
</html>